{% extends "Porfolio/Inicio.html"%}

    {%load static %}
    {% block contacto %}
    <li class="nav-item"><a class="nav-link" style="color:#ff9900" href="{% url 'administrar'%}">ADMINISTRAR</a></li>
    {% endblock %}
{% block ADMINISTAR %}
{% endblock %}

  
{% block contacto2 %}

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">REGISTROS</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        {% if experiencia %}
        {% for p in experiencia %}
        <ul class="timeline">
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{p.imagen.url}}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{p.año}}</h4>
                        <h4 class="subheading">{{p.titulo}}</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">{{p.descripcion}}</p></div>
                </div>
                <button type="button" class="btn btn-outline-danger">
                    <a href="{% url 'eliminarExperiencia' p.titulo %}"> ELIMINAR</a>
                </button>
                <button type="button" class="btn btn-outline-warning">
                    <a href="{% url 'editarExperiencia' p.titulo %}"> EDITAR</a>
                </button>
                <button type="button" class="btn btn-outline-success">
                  <a href="{% url 'administrar'%}"> VOLVER</a>
                </button>
            </li>
        {% endfor%}
        {% endif %}
        </ul>
    </div>
</section>


{% endblock %}
{% block ADMINISTAR2 %}
{% endblock %}