
{% extends "Porfolio/Inicio.html"%}

    {%load static %}
{% block ADMINISTAR %}
{% endblock %}

  
{% block contacto2 %}

<section class="page-section" id="">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">REGISTRO DE USUARIO</h2>
        </div>

        <form action="" method="POST">{% csrf_token %}
        
            {{form.as_p}}
            <button type="submit">Registrar</button>
            <button><a href="login">Si ya tiene usuario,use el Login</a></button>
        </form>

    </div>
</section>


{% endblock %}
{% block ADMINISTAR2 %}
{% endblock %}